@font-face {
   font-family: 'EkkamaiNew-Regular';
   font-display: swap;
   src: url('file:///C:/Users/ChaYa/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-09-27_163627/fonts/EkkamaiNew-Regular/font.ttf');
}
